<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if(flights.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td>
            <%= flight.flightNo %> 
            <br>
            <a href="flights/<%= flight._id %>">Details</a>
          </td>
          <% let formatting = { hour: '2-digit', minute: '2-digit', weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' } %>
          <% let date = flight.departs.toLocaleString("en-US", formatting) %>
          <% let curTime = new Date() %>
          <td class="<%= flight.departs < curTime ? 'departed' : '' %>"><%= date %></td>
          <td> 
            <form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit" class="delete-btn"><i class="fa fa-trash"></i></button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/flights/new"> Add Flight <i class="fa fa-plus"></i></a>
<% } else { %>
  <div class="container">
    <p>You're not tracking any flights yet! </p>
    <a href="/flights/new"> Let's start <i class="fa fa-plus"></i></a>
  </div>
<% } %>

<%- include('../partials/footer') %>
