<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <% let formatting = { hour: '2-digit', minute: '2-digit', weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' } %>
          <% let date = flight.departs.toLocaleString("en-US", formatting) %>
          <td><%= date %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>