<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container">

<h2>Flight Details <i class="fa fa-ticket"></i></h2>

<div id="show-flight-info">
  <p> <strong>Airline</strong> <%= flight.airline %> &nbsp; </p> 
  <p> <strong>Departing from: </strong> <%= flight.airport%> Intl Airport &nbsp; </p> 
  <p> <strong>Flight No.</strong> <%= flight.flightNo %> </p> 
</div>

<a href="<%= flight._id %>/ticket">Add Ticket <i class="fa fa-plus"></i></a>

<% if(flight.tickets.length) { %>
<table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td> <%= ticket.seat %> </td>
            <td> $<%= ticket.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %> </td>
            <td>
                <form action="/flights/<%= ticket._id %>/ticket?_method=DELETE" class="delete-form" method="POST">
                <button type="submit" class="delete-btn"><i class="fa fa-trash"></i></button>
                </form>
            </td>
          </tr>
        <% }) %>
    </tbody>
  </table>
<% } else { %>

<% } %>

  <label for="add-dest" id="destination-title">Destinations</label>
  <% if(flight.destinations.length) { %>
    <table>
      <tbody>
        <% flight.destinations.forEach(destination => { %>
        <tr>
          <td> <%= destination.airport %> </td>
          <td> 
            <form action="/flights/<%= flight._id %>/destinations/<%= destination._id %>?_method=DELETE" class="delete-form" method="POST">
              <button type="submit" class="delete-btn"><i class="fa fa-trash"></i></button>
            </form>
          </td>
        </tr>
      <% })%>
      </tbody>
    </table>
    <% } else { %>
  <% } %>

  <% if(newDestination.length) { %>
  <form action="/flights/<%- flight._id %>/destinations" method="POST" id="add-dest">
    <fieldset>
      <select id="destinationId" name="destinationId">
        <% newDestination.forEach(destination => { %>
          <option value="<%= destination._id %>"> <%= destination.airport %> </option>
        <% }) %>
      </select>
      <button type="submit" class="button">Submit</button> <a id="dest-link" href="/destinations/new"> New Destination <i class="fa fa-plus"></i> </a>
    </fieldset>
  </form>
  <% } else { %>
    <a id="dest-link" href="/destinations/new">New Destination <i class="fa fa-plus"></i> </a>
  <% } %>

</div>

<%- include('../partials/footer') %>